* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#98e3e5, #7f7f84 );
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.countainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    background-color: #9dedff;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav .tab {
    background-color: #6c757d; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
   
}

.nav .tab:hover {
    background-color: #495057; 
    transform: scale(1.15); 
}

.konten {
    display: none;
    text-align: center;
}




